<!-- Footer -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style type="text/css">
    .share-btn {
        display: inline-block;
        border-radius: 50px;
        color: #ffffff;
        border: 2px solid #fff;
        padding: 0.5em;
        width: 2.8em;
        opacity: 0.9;
        outline: none;
        text-align: center;
    }
    .share-btn:hover {
        color: #363636;
        background-color: #fff;
        border: 2px solid #fff;
    }
    .share-btn:active {
      position: relative;
      top: 2px;
      box-shadow: none;
      color: #e2e2e2;
      outline: none;
    }
</style>
<div id="line-breaks"><br><br><br><br></div>
<footer class="text-center navbar-header" style="width:100%; margin-top:10px; background-color:#363636; color: #FFF;">
    <div class="container-fluid" style="width:100%;">
        <div class="navbar" style="">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h4>About</h4>
                        <p>The Mosaic Survey has been assessing citizens’ perceptions of public services and local authorities in Kosovo every three years since 2003. It is based on a representative sample of Kosovan population and interviews with individuals aged 18 years and older.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <br>
                        <h4>Follow us</h4>
                        <!-- Twitter -->
                        <a href="https://twitter.com/UNDP_Kosovo" data-toggle="tooltip" title="Twitter" target="_blank" class="share-btn twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/UNDP.Kosovo" data-toggle="tooltip" title="Facebook" target="_blank" class="share-btn facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/UNDP.Kosovo" data-toggle="tooltip" title="UNDP Kosovo" target="_blank" class="share-btn home">
                            <i class="fa fa-home"></i>
                        </a>
                        <br><br>
                    </div>
                    <div class="footer-col col-md-4">
                        <!-- <h4>UNDP Kosovo</h4> -->
                        <div class="row">
                            <!-- <div class="col-xs-6">
                                <a href="http://opendatakosovo.org/" target="_blank"><img src="static/images/open-data-kosovo-logo.png" alt="" class="partner-img img-responsive"></a>
                            </div> -->
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6">
                                <a href="http://www.undp.org/content/kosovo/en/home.html" target="_blank"><img src="../static/images/undp-logo.png" alt="" class="partner-img img-responsive"></a>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>