<!-- Footer -->
<footer class="text-center navbar-header" style="width:100%; background-color:#363636; color: #FFF;">
    <div class="navbar" style="">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h4>About</h4>
                    <p>The Mosaic Survey has been assessing citizens’ perceptions of public services and local authorities in Kosovo every three years since 2003. It is based on a representative sample of Kosovan population and interviews with individuals aged 18 years and older.</p>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Contact</h4>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/UNDP.Kosovo" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/UNDP_Kosovo" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://www.ks.undp.org/content/kosovo/en/home.html" class="btn-social btn-outline"><i class="fa fa-fw fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>UNDP Kosovo</h4>
                    <div class="row">
                        <!-- <div class="col-xs-6">
                            <a href="http://opendatakosovo.org/" target="_blank"><img src="static/images/open-data-kosovo-logo.png" alt="" class="partner-img img-responsive"></a>
                        </div> -->
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <a href="http://www.undp.org/content/kosovo/en/home.html" target="_blank"><img src="../static/images/undp-logo.png" alt="" class="partner-img img-responsive"></a>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>